<h2>Example with <a href="http://backbonejs.org/">Backbone.js</a></h2><p><button class="js-basicExample-add">Add A Row</button></p><table class="ui-swooshTable js-backboneExample"><tbody class="js-list"></tbody></table><script id="json-items" type="NaN">[
	{ "title":"Fox 1", "subtitle":"The quick brown fox jumps over the lazy dog" },
	{ "title":"Fox 2", "subtitle":"The quick brown fox jumps over the lazy dog" },
	{ "title":"Fox 3", "subtitle":"The quick brown fox jumps over the lazy dog" }
]</script><script id="template-row" type="NaN"><tr class="ui-swooshTable-row">
	<td class="ui-swooshTable-cell ui-swooshTable-cell-title"><%- title %></td>
	<td class="ui-swooshTable-cell ui-swooshTable-cell-subtitle"><%- subtitle %></td>
</tr></script><script src="backbone-example.js"></script>