doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name="viewport" content="width=320")
		title SwooshTable.js
		link(rel='stylesheet', href='ui-swooshTable.css')
		link(rel='stylesheet', href='main.css')
	body

		h1 SwooshTable.js

		script(src="jquery.min.js")
		script(src="underscore-min.js")
		script(src="backbone-min.js")
		script(src="ui-swooshTable.js")
		script(src="main.js")

		include ./backbone-example.jade
