doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name="viewport" content="width=320")
		title SwooshTable.js
		link(rel='stylesheet', href='ui-swooshTable.css')
		link(rel='stylesheet', href='main.css')
	body

		h1 SwooshTable.js

		script(src="jquery.min.js")
		script(src="ui-swooshTable.js")
		script(src="main.js")

		include ./basic-example.jade
		include ./multi-button-example.jade

		h2 And More...

		ul
			li
				a(href="backbone.html") With Backbone.js
			li
				a(href="react.html") With React
