h2 Multi-Button Example

table.ui-swooshTable.js-multiButtonExample
	tbody
		tr.ui-swooshTable-row
			td.ui-swooshTable-cell.ui-swooshTable-cell-title Fox 1
			td.ui-swooshTable-cell.ui-swooshTable-cell-subtitle The quick brown fox jumps over the lazy dog
		tr.ui-swooshTable-row
			td.ui-swooshTable-cell.ui-swooshTable-cell-title Fox 2
			td.ui-swooshTable-cell.ui-swooshTable-cell-subtitle The quick brown fox jumps over the lazy dog
		tr.ui-swooshTable-row
			td.ui-swooshTable-cell.ui-swooshTable-cell-title Fox 3
			td.ui-swooshTable-cell.ui-swooshTable-cell-subtitle The quick brown fox jumps over the lazy dog

script(src="multi-button-example.js")
