h2
	| Example with 
	a(href="https://facebook.github.io/react/") React

p.js-form

table.ui-swooshTable.js-backboneExample.js-table

script#json-items(type=text/x-json).
	[
		{ "title":"Fox 1", "subtitle":"The quick brown fox jumps over the lazy dog" },
		{ "title":"Fox 2", "subtitle":"The quick brown fox jumps over the lazy dog" },
		{ "title":"Fox 3", "subtitle":"The quick brown fox jumps over the lazy dog" }
	]
script(src="react-example.react.js")
