doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name="viewport" content="width=320")
		title SwooshTable.js
		link(rel='stylesheet', href='main.css')
	body

		h1 SwooshTable.js

		table.ui-swooshTable.js-table
			tbody
				tr.ui-swooshTable-row
					td.ui-swooshTable-cell.ui-swooshTable-cell-title Fox 1
					td.ui-swooshTable-cell.ui-swooshTable-cell-subtitle The quick brown fox jumps over the lazy dog
				tr.ui-swooshTable-row
					td.ui-swooshTable-cell.ui-swooshTable-cell-title Fox 2
					td.ui-swooshTable-cell.ui-swooshTable-cell-subtitle The quick brown fox jumps over the lazy dog
				tr.ui-swooshTable-row
					td.ui-swooshTable-cell.ui-swooshTable-cell-title Fox 3
					td.ui-swooshTable-cell.ui-swooshTable-cell-subtitle The quick brown fox jumps over the lazy dog
				tr.ui-swooshTable-row
					td.ui-swooshTable-cell.ui-swooshTable-cell-title Fox 4
					td.ui-swooshTable-cell.ui-swooshTable-cell-subtitle The quick brown fox jumps over the lazy dog
				tr.ui-swooshTable-row
					td.ui-swooshTable-cell.ui-swooshTable-cell-title Fox 5
					td.ui-swooshTable-cell.ui-swooshTable-cell-subtitle The quick brown fox jumps over the lazy dog

		script.
			if (location.search === '?live') {
				var elScript = document.createElement('script');
				elScript.src = '//' + location.hostname + ':35729/livereload.js';
				document.body.appendChild(elScript);
			}
		script(src="jquery.min.js")
		script(src="ui-swipe.js")
		script(src="main.js")
		script.
			var swooshTable = new SwooshTable('.js-table');
			swooshTable.on('click', function(event, row, elButton) {
				if (elButton.classList.contains('rowTools-item-delete')) {
					row.restore();
					row.$el.slideUp(function() {
						swooshTable.removeRow(row);
					});
				}
			});
