doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name="viewport" content="width=320")
		title SwooshTable.js
		link(rel='stylesheet', href='css.css')
	body

		h1 SwooshTable.js

		table.ui-swooshTable.js-table
			tbody
				tr.ui-swooshTable-row
					td.ui-swooshTable-cell.ui-swooshTable-cell-title Fox
					td.ui-swooshTable-cell.ui-swooshTable-cell-subtitle The quick brown fox jumps over the lazy dog
				tr.ui-swooshTable-row
					td.ui-swooshTable-cell.ui-swooshTable-cell-title Fox
					td.ui-swooshTable-cell.ui-swooshTable-cell-subtitle The quick brown fox jumps over the lazy dog
				tr.ui-swooshTable-row
					td.ui-swooshTable-cell.ui-swooshTable-cell-title Fox
					td.ui-swooshTable-cell.ui-swooshTable-cell-subtitle The quick brown fox jumps over the lazy dog
				tr.ui-swooshTable-row
					td.ui-swooshTable-cell.ui-swooshTable-cell-title Fox
					td.ui-swooshTable-cell.ui-swooshTable-cell-subtitle The quick brown fox jumps over the lazy dog
				tr.ui-swooshTable-row
					td.ui-swooshTable-cell.ui-swooshTable-cell-title Fox
					td.ui-swooshTable-cell.ui-swooshTable-cell-subtitle The quick brown fox jumps over the lazy dog

		div.ui-swooshTable-rowTools
			button.rowTools-item.rowTools-item-delete.js-delete Delete
			button.rowTools-item.rowTools-item-move.js-move Move

		script(src="jquery.min.js")
		script(src="src/ui-swipe.js")
		script(src="src/main.js")
		script.
			new TableView({ el:$('.js-table') });
