body
	margin: 0
	min-height: 5000px

.ui-swooshTable
	border-color: #999
	border-style: solid none
	border-width: 1px

	&-row
		border-color: #999
		border-style: solid none
		border-width: 1px
		margin-bottom: -1px

		&:first-child
			border-top-style: none
		&:last-child
			border-bottom-style: none
			margin-bottom: 0

.rowTools-item
	background-color: #ccc
	border: none
	color: #fff
	float: right
	height: 100%
	padding: 0 1em

	&[data-swooshTable-key=delete]
		background-color: #f00
	&[data-swooshTable-key=edit]
		background-color: #090
	&[data-swooshTable-key=poke]
		background-color: #006
